.box {
    width: 300px; /* Width of the content */
    height: 100px; /* Height of the content */
    padding: 20px; /* Space inside the box */
    border: 2px solid black; /* Border surrounding the box */
    margin: 30px;  /* Space outside the box */
    background-color: lightblue;  /* Background color */
}

.box-more {
    width: 400px;
    height: 150px;
    padding: 20px; /* Space inside the box */
    border: 5px solid red; /* Border */
    margin: 50px; /* Auto centers the box horizontally */
    background-color: cadetblue; /* Background color */
    border-radius: 15px; /* Rounded corners */
    box-sizing: border-box; /* Includes padding and border in the total width and height */
    overflow: hidden; /* Content that overflows will be hidden */
}

.first {
    margin-bottom: 20px;
}

.second {
    margin-top: 30px;
}

.relative-box {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    position: relative;
    top: 20px; /* Moves the box 20px down */
    left: 40px; /* Moves the box 40px to the right */
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: lightgray;
  }

  .absolute-box {
    position: absolute;
    top: 50px;   /* 50px from the top of the container */
    left: 50px;  /* 50px from the left of the container */
    width: 100px;
    height: 100px;
    background-color: lightcoral;
  }